$color_1: black;
$color_2: white;
$color_3: #1f75fe;
$color_4: rgba(255, 255, 0);
$font-family_1: Times;
$font-family_2: "ygo";
$background-color_1: rgba(255, 255, 255, 0.6);
$joshBlack: rgb(53, 53, 53);
$joshOrange: rgb(255, 159, 26);
$joshGlauc: rgb(180, 185, 239);
$joshMint: rgb(213, 255, 243);
$joshBlue: rgb(72, 172, 240);

@font-face {
  font-family: "ygo";
  src: url("/src/assets/fonts/ygo.ttf");
}

@font-face {
  font-family: "DIN light";
  src: url("/src/assets/fonts/Rubik.ttf");
}
@font-face {
  font-family: "joshFont";
  src: url("/src/assets/fonts/cmunbx.ttf");
}
@font-face {
  font-family: "clickbait";
  src: url("/src/assets/fonts/HuskyStash.otf");
}
@font-face {
  font-family: "DIN";
  src: url("/src/assets/fonts/ygo.ttf");
}
@font-face {
  font-family: "serifItalic";
  src: url("/src/assets/fonts/matrixReg.otf");
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: unset !important;
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    /* Add any other necessary properties to disable animations */
  }
}

@-webkit-keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-up-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blur-in {
  0% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}


@-webkit-keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes bob-vertical {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}

@keyframes bob-vertical {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}

@keyframes blur-in {
  from {
    -webkit-filter: blur(20px) brightness(3);
    filter: blur(20px) brightness(3);
  }
  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  .projectImage:hover {
    -webkit-animation: pulseGlow 0.5s ease-in-out alternate infinite;
    animation: pulseGlow 0.5s ease-in-out alternate infinite;
    -o-object-fit: contain;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
  }
  .siteLink:hover {
    cursor: pointer;
    color: orange !important;
    transition: all 0.15s ease-in-out;
    // background-size: 130%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    #visitText {
      transform: scale(1.2);
      transition: all 0.15s ease-in-out;
    }
  }
  #eduImage:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-animation: pulseGlow 0.5s ease-in-out alternate infinite;
    animation: pulseGlow 0.5s ease-in-out alternate infinite;
  }
  .activeCard:hover {
  }
  #links a:hover {
    color: white !important;
    transform: scale(1.2);
    transition: 0.2s ease;
  }
}

@media (max-width: 700px) {
  #App {
    display: flex !important;
    flex-direction: column;
  }

  #welcome {
    height: 80% !important;
  }
  #selectedEduImage {
    width: 60% !important;
  }

  #currentEduImage {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .section {
    border-radius: 0 !important;
  }

  #selectorButtons {
    height: 10vh !important;
    flex-direction: row !important;
    #selectorButton {
      height: 100% !important;
      .activeCard {
        height: 150px !important;
      }
    }
  }

  #secondSideBar {
    flex-direction: row !important;
  }

  #shortBio {
    font-size: 1rem !important;
    line-height: 1.2rem;
  }

  #myName {
    font-size: 1.5rem !important;
  }
  #skillsBox {
    margin-bottom: 5% !important;
  }
  .projectLogo {
    width: 100% !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
  }

  .siteLink {
    height: 50% !important;
  }

  #myInfoParent {
    width: 100% !important;
    -webkit-animation: none !important;
    animation: none !important;
  }

  #sectionName {
    font-size: 0.8rem !important;
  }
  #dArrows {
    display: none !important;
  }
  #eduInfo {
    margin-right: 0 !important;
  }

  #projectDescription {
    font-size: 3vw !important;
  }
  .description {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    grid-auto-flow: row;
  }
  .company,
  .location,
  .dates {
    font-family: "DIN light" !important;
    font-weight: 600 !important;
    line-height: 1rem !important;
  }
  .descriptionItem {
    background: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .arrow {
    font-size: 6vw !important;
  }

  #education #innerSection {
    width: 95% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column !important;
    text-align: center !important;
  }
  #education h3 {
    display: none !important;
  }
  #compTitle {
    width: 100% !important;
    font-size: 1.5rem;
    grid-area: title;
    -webkit-animation: swing-in-top-fwd 0.5s
      cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      both;
  }

  @-webkit-keyframes blur-out {
    from {
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  
    to {
      -webkit-filter: blur(20px);
      filter: blur(20px);
      opacity: 0;
    }
  }
  
  @keyframes blur-out {
    from {
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  
    to {
      -webkit-filter: blur(20px);
      filter: blur(20px);
      opacity: 0;
    }
  }

  @-webkit-keyframes slide-from-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  @keyframes slide-from-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      transform: translateY(-600px) rotateX(-30deg) scale(0);
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      transform: translateY(-600px) rotateX(-30deg) scale(0);
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
  

  @-webkit-keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }

  @keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }

  .sectionGif {
    margin: 0 !important;
    grid-area: gif;
    overflow: hidden !important;
    justify-self: end;
  }
  #selectedImageCaption {
    width: 75% !important;
    font-size: 2.5vw !important;
  }

  #projectsTitle {
    display: none;
  }
  #eduImagesParent {
    grid-template-columns: repeat(3, 12vh) !important;
    grid-template-rows: repeat(3, 6vh) !important;
    gap: 1%;
  }
  #innerSection {
    margin: auto !important;
  }
  #education {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    width: 100% !important;
    padding: 2% 0 2% 0 !important;
    padding: 2% 0 3% 0 !important;
  }
  #myInfoBlock {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5) !important;
    #bio {
      font-weight: 500 !important;
    }
    &::before {
      background-image: url("/src/assets/logos/myLogo.png") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      content: "" !important;
      bottom: 0 !important;
      right: 0 !important;
      width: 50% !important;
      height: 50% !important;
      position: absolute !important;
      z-index: -1 !important;
      opacity: 0.3 !important;
    }
  }
  .section.myInfo {
    grid-template-columns: 1fr !important;
    background-color: $color_4 !important;
    grid-template-rows: 1fr !important;
    background-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 65vh !important;
    &::before {
      content: "";
      display: none !important;
    }
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #myPic {
    height: 100%;
  }
  #resumeSection {
    flex-direction: column !important;
    z-index: 30 !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    max-width: 100vw !important;
    height: 100% !important;
  }

  #playingField {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 85% !important;
    z-index: 30 !important;
  }
  #selectorButton {
    z-index: 100 !important;
  }
  .section {
    z-index: 30 !important;
    align-content: center !important;
    align-items: center !important;
    margin: 0 !important;
  }
  #expContent {
    padding: 0 !important;
    .title {
      font-size: 1.3rem !important;
      line-height: 1.25rem !important;
    }
    width: 80vw !important;
    border: none !important;
    &:before {
      display: none !important;
    }
    height: 100% !important;
  }
  #imgCaption {
    font-size: 4vw !important;
  }
  .expSection {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 60vh !important;
    height: 100% !important;
    gap: 1rem !important;
  }
  #experience {
    max-height: 100vh !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 60vh !important;
  }
  #expAnimation img {
    overflow: hidden !important;
  }
  #summonArea {
    margin-top: 0 !important;
    color: white;
    font-family: DIN;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    max-height: 8vh !important;
    overflow: hidden !important;
    width: 100vw !important;
    margin-left: 0 !important;
  }
  #cardMat {
    display: none !important;
  }

  .sectionGifActive {
    height: 100px !important;
    width: 200px !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    overflow: hidden !important;
    max-width: 100px !important;
  }
  #projectsParent {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
  #project {
    width: 80vw !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #projects {
    // grid-template-columns: repeat(6, 1fr) !important;
    // margin: 0 !important;
    // grid-template-rows: 100%;
    // gap: 2% !important;
  }
}

#joshBlack {
  color: $joshBlack;
}

#joshOrange {
  color: $joshOrange;
}

#joshGlauc {
  color: $joshGlauc;
}

#joshMint {
  color: $joshMint;
}

#joshBlue {
  color: $joshBlue;
}

#projectDescription,
p,
.section,
#skillsBox {
  font-family: "DIN light";
  font-weight: 400;
  font-size: 0.6rem;
}

#skillsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 0.6rem;
  text-align: center !important;
}

#skill {
  background: rgba(0, 0, 255, 0.2);
  padding: 1%;
  border-radius: 10px;
  margin: 1%;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  text-align: center !important;
}

.articlePic {
  width: 100%;
  padding: 0 1%;  
}

#orfu {
  .picCarousel {
    img {
      width: 400px;
      height: 200px;
      object-fit: contain;
      object-position: center;
    }
  }
}

#rfu1 {
  display: flex;
  flex-direction: row;
}

.clickbait h3 {
  font-family: "clickbait";
  text-transform: lowercase;
}

.projectLogo {
  justify-self: center;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

.joshSite h3 {
  font-family: "joshFont";
}

#gameAI {
  color: orange !important;
  text-transform: uppercase !important;
}



#sectionPic {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

#secondSideBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
  position: fixed;
  top: -10%;
  z-index: 1;
  left: 20vw;
  right: 0;
  transition: all 0.2s ease-out !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #999;
}

.card {
  overflow-x: visible;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1px) brightness(0.2);
  backdrop-filter: blur(1px);
  border-radius: 7px;
}

#resumeSection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.projectContent {
  word-wrap: break-word;
  border-radius: 1.5px;
  padding: 5% 2%;
  margin: 5%;
  background-color: white;
  color: darkgrey;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-up-from-bottom .2s ease-out;
}

.r-pic-big-l-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  .projectP {
    width: 50%;
  }
  .articlePic  {
    width: 50% !important;
    object-fit: contain;
  }
}

.projectHeader {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
  align-content: center;
  align-items: center;
  color: black !important;
  .headerLogo {
    width: 40%;
  }
  
}

#imgImg {
transition: all 0.2s ease-out;  
}

#frame {
  height: 400px;
  width: 200px;
  max-height: 400px;
  max-width: 200px;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

#frameImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: background-scroll 7s linear alternate infinite;
  transition: all 0.2s ease-out;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/src/assets/misc/phone2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@keyframes background-scroll {
  0% {
    background-position: top center;
  }
100% {
  background-position: bottom center;
}
}

#projectSubtitle {
  h2 {
    color: black !important;
  }
}

.card {
  overflow: hidden !important;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 5px;
  }
}



#projectOutlet {
  max-width: 70%;
  white-space: pre;
  text-wrap: wrap;
  height: 100%;
  word-wrap: break-word;
  & > * {
    white-space: pre;
    text-wrap: wrap;
    word-wrap: break-word;
  }
}

.noShow {
  display: none;
}

#playingField {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 100;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.sectionGif {
  margin: 0 auto 0 auto;
  grid-area: summonArea;
  width: 100% !important;
  position: relative;
  z-index: 100 !important;
  opacity: 0;
  height: 40vh;
  -o-object-fit: contain;
  object-fit: contain;
}

#selectorButton {
  transition: all 0.4s ease-in-out;
}

#projectsTitle {
  font-family: "DIN";
  font-size: 2rem;
}

#project {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column !important;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
  background: $color_4;
  border-radius: 0px 0px 30px 30px;
  padding: 1rem;
  transition: all 0.2s ease-out !important;
  text-align: center;
  &:hover {
    transform: translateY(30%) !important;
    transition: all 0.2s ease-out !important;
  }
}

#compTitle {
  font-family: "serifItalic";
  /*rotate text 90degrees*/
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  text-align: center;
}

#App {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 1fr;
  grid-template-areas: "hand field";
  color: $color_1;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: flex-start;
  align-content: flex-start;
  z-index: 1;
  overflow-y: scroll;
}

html {
  background-color: grey !important;
}

#cardParent {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: serifItalic;
  color: $color_1;
  margin: 0;
}

h3 {
  font-family: serifItalic;
  font-size: 1.5rem !important;
}

#sectionName {
  font-family: "serifItalic";
  border-radius: 5px;
  white-space: pre;
  text-wrap: normal;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding-top: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

#sectionDesc {
  font-family: $font-family_1;
  font-weight: normal !important;
  font-style: italic;
}


.projectImage {
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5) !important;
}

.cardActive #sectionPic {
  -o-object-fit: contain !important;
  object-fit: contain !important;
  width: 80% !important;
  margin: 0 auto 0 auto !important;
  transition: all 0.5s ease-in-out !important;
}

#selectorButton {
  margin: auto;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  color: $color_2;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-size: cover;
}


#cardParent.experience {
  -webkit-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

#cardParent.projects {
  -webkit-animation-delay: 0 !important;
  animation-delay: 0 !important;
}

#cardParent.myInfo {
  -webkit-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

#cardParent.education {
  -webkit-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

#myInfoParent {
  width: 80%;
  border-radius: 10% !important;
}

#imgClose {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000 !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.selectedImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 3;
}

#selectedImageCaption {
  width: 20vw;
}

.activeImage {
  display: grid;
}

.caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 110%);
  border-radius: 0 0 30px 30px;
  font-family: "DIN";
  color: white;
  font-size: 1.5rem;

}


.myInfo {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 50%;
  background-repeat: no-repeat !important;
  box-shadow: inset 0px 0px 20px orange, 0px 0px 5px white;
}

#imageParent {
  height: 100%;
  width: 100%;
}

#headshot {
  width: 100%;
}

.projImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 10vh;
  border-radius: 20px;
}

.siteLink {
  font-family: "DIN light" !important;
  -webkit-text-stroke: 5px solid black;
  background-size: cover;
  border-radius: 20px;
  font-size: 3.5rem;
  line-height: 3rem;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  height: 20vw;
  width: 100%;
}

#mySiteLink {
  background-image: url("/src/assets/misc/newSiteShot.png");
}

#joshSiteLink {
  background-image: url("/src/assets/misc/joshSiteScreenShot.png");
}

#cbLink {
  background-image: url("/src/assets/misc/cbShot.png");
  margin-top: 2%;
}

.projImages img {
  height: 10vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

#iFrameParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#joshSiteIFrame,
#riteIFrame {
  width: 80% !important;
  border-radius: 20px;
  background: none !important;
  height: 100%;
}

#projImagesActive {
  visibility: visible !important;
}

#imgCaption {
  font-family: "DIN light";
  font-weight: 102;
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 2%;
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
}

#currentEduImage {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#eduImagesParent {
  display: grid;
  grid-template-columns: 7vw 7vw 7vw;
  grid-template-rows: 7vw 7vw 7vw;
  position: relative;
  justify-content: center;
}

#eduImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.expSection {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
  width: 100%;
}

#expContent {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
}

#experience {
  padding: 2%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  height: 60vh;
  max-height: 60vh;
  border-radius: 7px;
  width: 25%;
  margin: 2%;
  background: $color_4;

  h3 {
    font-size: 22px;
    color: $color_3;
    font-weight: bold;
  }
}

#myPic {
  width: 90%;
  border-radius: 50%;
  position: relative;
  -webkit-filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
  opacity: 0;
  height: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education {
  opacity: 0;
  height: 40vh;
  transition: all 0.5s ease-in-out;
  display: flex;
  overflow: hidden;
  width: 60vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color_4;
  border-radius: 30px !important;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  overflow-x: hidden;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  p {
    font-family: "serifItalic";
  }

  padding: 2%;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 30px;
  }
}

#selectedEduAnimationParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: none;
  border-radius: 30px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.5rem;
  a {
    color: orange !important;
  }
}

.orfuImage {
  object-fit: contain;
  filter: none !important;
  box-shadow: none !important;
}

#selectedEduImageParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

#experience {
  background-color: rgba(255, 255, 0, 0.18) !important;
}

#myName {
  font-family: DIN;
  font-size: 2.2rem;
}

.aboutMeParagraph {
  text-align: left;
  margin-bottom: 3%;
  padding: 0 4% 0 4%;
}

#shortBio {
  font-family: "serifItalic" !important;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

#root {
  margin: 0 auto;
  color: $color_1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

#topRow {
  display: flex;
}

#projects {
  font-family: $font-family_2;
  font-weight: bold;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  // display: flex;
  // flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

#activeSection {
  width: 100%;
}

#dArrows {
  position: fixed;
  bottom: 32vh;
  left: 30%;
  width: 70%;
  z-index: 100 !important;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#leftArrow {
  z-index: 100;
  font-size: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-family: DIN;
}

#rightArrow {
  font-size: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-family: DIN;
}
#selectorButtons {
  -webkit-animation: slide-from-bottom 0.5s ease-in-out forwards;
  animation: slide-from-bottom 0.5s ease-in-out forwards;
  grid-area: hand;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  // overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
      darkblue;
    border-radius: 5px 5px 0 0;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.85));
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.85));
    z-index: -1;
  }
}



#spLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: none auto none auto;
  font-size: 1rem;
  border-radius: 5px;
}

#innerSection {
  background-color: $background-color_1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.section {
  width: 90vw;
  height: 100%;
  list-style: none !important;
  list-style-type: none !important;
  color: $color_2;
  h3 {
    color: $color_2 !important;
    font-size: 2vw;
    margin: 0 !important;
  }
}

#arrowParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 5% auto 0 auto;
}

.arrow {
  width: 150px;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  -webkit-filter: drop-shadow(0px 0px 5px white);
  filter: drop-shadow(0px 0px 5px white);
}

#arrow2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#arrow3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#arrow4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.descriptionItem:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.descriptionItem:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.descriptionItem {
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.3);
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
}

.title {
  font-size: 1.5rem;
  font-family: "serifItalic" !important;
  padding: 2%;
  line-height: 2rem;
}

.glow {
  transition: all 0.1s ease-in-out !important;
  box-shadow: 0px 0px 30px white !important;
}

.company,
.location,
.dates {
  color: rgba(255, 255, 255, 0.5);
}

.sectionContent {
  width: 10%;
}

#bottomParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
}
