$color_1: #191d32;
$color_2: #f7f7ff;
$color_3: #453a49;
$color_4: #6d3b47;
$color_5: #282f44;
$color_6: #ba2c73;
$font-family_1: Times;
$font-family_2: "ygo";
$background-color_1: rgba(255, 255, 255, 0.6);
$joshBlack: rgb(53, 53, 53);
$joshOrange: rgb(255, 159, 26);
$joshGlauc: rgb(180, 185, 239);
$joshMint: rgb(213, 255, 243);
$joshBlue: rgb(72, 172, 240);

@font-face {
  font-family: "ygo";
  src: url("/src/assets/fonts/ygo.ttf");
}

@font-face {
  font-family: "DIN light";
  src: url("/src/assets/fonts/Rubik.ttf");
}
@font-face {
  font-family: "joshFont";
  src: url("/src/assets/fonts/cmunbx.ttf");
}
@font-face {
  font-family: "clickbait";
  src: url("/src/assets/fonts/HuskyStash.otf");
}
@font-face {
  font-family: "DIN";
  src: url("/src/assets/fonts/ygo.ttf");
}
@font-face {
  font-family: "serifItalic";
  src: url("/src/assets/fonts/matrixReg.otf");
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: unset !important;
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    /* Add any other necessary properties to disable animations */
  }
}

@-webkit-keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-up-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes bob-vertical {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}

@keyframes bob-vertical {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}

#joshBlack {
  color: $joshBlack;
}

#joshOrange {
  color: $joshOrange;
}

#joshGlauc {
  color: $joshGlauc;
}

#joshMint {
  color: $joshMint;
}

#joshBlue {
  color: $joshBlue;
}

#orfu {
  p {
    font-family: "DIN light" !important;
    font-weight: 100 !important;
    line-height: 2rem !important;
    color: $color_2;
    font-size: 1rem !important;
  }

  #orfuContent1 {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    #visitParent {
      // &:before {
      //   content: "please note that this is an archived version of the site, so the content is not up to date and some features may not work.";
      //   color: $color_2;
      //   font-size: 0.8rem;
      //   margin-top: 10px;
      //   display: flex;
      //   flex-direction: column;
      //   margin-bottom: 10px;
      //   font-family: "DIN light" !important;
      //   font-weight: 100 !important;
      //   width: 100%;
      //   text-align: center;
      //   height: auto;
      // }
    }
  }

  #projectBody1 {
    padding-left: 2%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #orfuContent2 {
    display: flex;
    flex-direction: row;
    p {
      text-align: right;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-family: "DIN Light";
      font-size: 1.5rem !important;
    }
    #orfuList {
      list-style: none;
      list-style-type: none;
      width: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      font-size: 1.1rem !important;
      font-family: "DIN Light";
      font-weight: 500;
      line-height: 2rem;
      color: $color_2;
      #subList {
        list-style: none;
        list-style-type: none;
        width: 100%;
        border-left: 2px solid $color_4;
      }
    }
  }

  #orfuContent3 {
    display: flex;
    flex-direction: row-reverse;
  }

  #orfuContentInner {
    width: 50%;
  }

  #orfuFrames {
    width: 50%;
    height: 700px !important;
    max-height: 700px !important;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

  }

  #orfuLogos.picCarousel {
    img {
      width: 400px;
      height: 200px;
      object-fit: contain;
      object-position: center;
      transition: transform 0.5s ease;
      cursor: default;
    }
  }
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain !important;
  }
}
.arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  margin: 0;
  padding: 0;
  .arrow {
    background: none;
    color: $color_6;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    &:hover {
      background: none;
      border: none;
      outline: none;
    }
    &:active {
      background: none;
      border: none;
      outline: none;
    }
  }
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 3rem;
  z-index: 9999;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.picCarousel {
  width: fit-content;
  position: relative;
  background: none;
  cursor: pointer;
  img {
    transition: transform 0.2s ease;
    height: auto;
    width: 100%;
  }
}
.pcBorder {
  border-radius: 10px 10px 1px 1px;
  border-top: 20px solid $color_6;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  background-color:$color_1;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideUp {
animation: slide-away .5s ease-in-out forwards;
}

.slideDown {
animation: slide-in .5s ease-in-out forwards;
}

@keyframes slide-away {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.blurOut {
  animation: blur-out 0.5s ease-in-out forwards;
}

.blurIn {
  animation: blur-in 0.5s ease-in-out forwards;
}

@keyframes blur-out {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(50px) saturate(0);
    opacity: 0;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(50px) saturate(0);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

#rfu1 {
  display: flex;
  flex-direction: row;
}

.clickbait h3 {
  font-family: "clickbait";
  text-transform: lowercase;
}

.projectLogo {
  justify-self: center;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

.joshSite h3 {
  font-family: "joshFont";
}

#gameAI {
  color: orange !important;
  text-transform: uppercase !important;
}

#secondSideBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5vw;
  transition: all 0.2s ease-out !important;
  height: 60px;
  border-radius: 0 0 10px 10px;
  align-items: center;
  z-index: 1;
  filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.3));
}

img {
  max-width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #999;
}

#resumeSection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.projectContent {
  word-wrap: break-word;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 1.5px;
  padding: 5% 2%;
  margin: 2%;
  margin-bottom: 0 !important;
  background-color: $color_5;
  color: $color_2 !important;
  height: fit-content;
  border-radius: 15px 15px 0 0;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  height: 120px;
  // border-bottom: 2px solid $color_1;
  .picCarousel {
    width: 250px;
  }
}

@keyframes shadow-pop {
  0% {
    text-shadow: 0 0 $color_1, 0 0 $color_1, 0 0 $color_1, 0 0 $color_1, 0 0 $color_1, 0 0 $color_1, 0 0 $color_1, 0 0 $color_1;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px $color_1, -2px 2px $color_1, -3px 3px $color_1, -4px 4px $color_1, -5px 5px $color_1, -6px 6px $color_1;
    transform: translateX(5px) translateY(-5px);
  }
}

#visitParent {
  width: 500px;
  height: 500px;
  gap: 2%;
  cursor: pointer;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "visitText visitText"
    "monitor monitor";
  padding: 1%;
  border-radius: 500px;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  color: $color_2;
  background-color: rgba(186, 44, 115, .5) !important;
  &:hover {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4) !important;
    background-color: $color_6 !important;
    cursor: pointer;
    border-radius: 5px  !important;
    #visitBlock {
      border-radius: 5px  !important;
      color: $color_2 !important;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    }
    * {
      animation-play-state: running;
    }
  }
  #visitBlock {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    font-family: "DIN Light";
    font-weight: 100;
    font-size: 1.2rem;
    color: $color_2;
    width: 100%;
    transition: all 0.1s ease-in-out;
  }
}

.mobileFrame {
  align-self: last baseline;
  height: 200px;
  width: 100px;
  max-height: 200px;
  max-width: 100px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.5));
  grid-area: monitor;
  transform: translateY(20px) translateX(20px);
  border: 5px solid black;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    bottom: 2%;
    left: 50;
    margin: auto;
    width: 62%;
    height: 1.5%;
    background-color: black;
    border-radius: 20px;
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50;
    margin: auto;
    width: 50%;
    border-radius: 0 0 15px 15px;
    height: 2%;
    background-color: black;
    z-index: 2;
  }
}

.mobileFrameImage {
  width: 200px;
  height: 100%;
  background-size: cover;
  animation: background-scroll 10s ease-in-out infinite;
  animation-play-state: paused;
  transition: all 0.2s ease-out;
  position: relative;
}

.frame {
  grid-area: monitor;
  height: 300px;
  width: 450px;
  max-height: 300px;
  max-width: 450px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  border: 10px solid black;
  border-bottom: 3cap solid black;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.5));
}

.frameImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: background-scroll 15s ease-in-out infinite;
  transition: all 0.2s ease-out;
  position: relative;
  animation-play-state: paused;
  border-radius: 0px;
}

#visitBlock {
  grid-area: visitText;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@keyframes background-scroll {
  0% {
    background-position: top center;
  }
  50% {
    background-position: bottom center;
  }
  55% {
    background-position: bottom center;
  }
  95% {
    background-position: top center;
  }
  100% {
    background-position: top center;
  }
}

.card {
  overflow: hidden !important;
  background-color: $color_4;
}

#projectOutlet {
  max-width: 70%;
  white-space: pre;
  text-wrap: wrap;
  height: 100%;
  word-wrap: break-word;
  & > * {
    white-space: pre;
    text-wrap: wrap;
    word-wrap: break-word;
  }
}

.noShow {
  display: none;
}

#selectorButton {
  transition: all 0.4s ease-in-out;
}

#projectsTitle {
  font-family: "DIN";
  font-size: 2rem;
}

#project {
  display: flex;
  width: 15%;
  height: 60px;
  flex-direction: column-reverse !important;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-end;
  gap: 1rem;
  background: $color_4;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  padding-top: 2%;
  transition: all 0.2s ease-out !important;
  text-align: center;
  z-index: 9000 !important;
  border-bottom: 5px solid $color_6;
  img {
    height: 60px;
    max-height: 60px;
    max-width: 150px;
    object-fit: contain;
    transition: all 0.2s ease-in-out !important;
  }
  &:hover {
    height: 250px;
    transition: all 0.2s ease-out !important;
    background: $color_6 !important;
    #projectSubtitle {
      transform: translateY(0%);
      transition: all 0.4s ease-out !important;
    }
  }
  #projectSubtitle {
    font-family: "DIN Light";
    font-weight: 300;
    color: $color_2 !important;
    font-size: 1rem;
    transform: translateY(-200%);
  }
}

#App {
  display: flex;
  flex-direction: column;
  color: $color_2;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: flex-start;
  align-content: flex-start;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

html {
  background-color: $color_1 !important;
}

#cardParent {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "DIN Light";
  margin: 0;
}

h3 {
  font-family: serifItalic;
  font-size: 1.5rem !important;
}

#root {
  margin: 0 auto;
  color: $color_2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

#projects {
  font-family: $font-family_2;
  font-weight: bold;
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#selectorButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  min-height: 100vh;
  height: 100vh;
  // overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  // outline: 1px solid red;
}

#selectorButton {
  width: 80%;
  margin: 5% auto 5% auto;
  min-height: 300px;
  background-size: cover;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: $color_2;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
  transition: all .2s ease;
  &:hover {
    transform: translateX(40%);
    #sectionName {
      font-weight: bold !important;
    }
  }
}

.section {
  width: 90vw;
  height: 100%;
  list-style: none !important;
  list-style-type: none !important;
  h3 {
    font-size: 2vw;
    margin: 0 !important;
  }
}

#sectionName {
  font-family: "DIN Light";
  font-weight: 100;
  font-size: 1.5rem;
  text-align: right;
  padding: 3%;
}